[include]
  path = ~/.gitconfig.local
  path = ~/.gitconfig.aliases
[core]
  autocrlf = input
  excludesfile = ~/.gitexclude
[commit]
  template = ~/.templates/git_commit_msg
  verbose = true
  gpgsign = true
[gpg]
  program = gpg
[pull]
  ff = only
[rebase]
  autosquash = true
