[core]
	excludesfile = ~/.gitexclude
	pager = less -x1,5
	autocrlf = input

[user]
	email = karl.emil.nilsson@gmail.com
	name = Emil Nilsson

[alias]
	blog = log --oneline --graph --all
	lo = log --oneline
	co = checkout
	sm = submodule
	squash = commit --squash
	fixup = commit --fixup
	mt = mergetool
	dt = difftool
	st = status
	
[pull]
	ff = only

[rebase]
	autosquash = true

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[mergetool]
	keepBackup=false
[commit]
	template = ~/.templates/git_commit_msg
